node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
.env*
logs
.git
.gitignore
README.md
Dockerfile*
docker-compose*
.dockerignore
.github
k8s
coverage
.nyc_output
*.log
.vscode
.idea
*.swp
*.swo
*~